*,
*::after,
*::before {
	box-sizing: border-box;
}

.qoc-shipping,
.qoc-fee {
	width: 15px !important;
	height: 15px !important;
}

.qliro-one-overlay {
	--light-grey: #ececec;
	--almost-black: #222;
	--white-smoke: #f9f9f9;
	--mint-green: #94efd2;
	--electric-violet: #7b31d9;
	--poppy-red: #fe1b1b;
}

.qliro-one-overlay-backdrop {
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 10001; /* WC bar has a z-index of 10_000. */
}

.qliro-one-overlay {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 2%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: white;
	border-radius: 0.25em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	max-width: 40em;
	max-height: fit-content;
	border: none;
}

.qliro-one-overlay .close-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 2em;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--almost-black);
	font-size: 2.3em;
	cursor: pointer;
}

#qliro-discount {
	> * {
		width: 100%;
        border-radius: 0.25em;
	}

	.hidden {
		display: none;
	}

	.bold {
		padding-left: 0;
		font-weight: bold;
		font-size: 1.4em;
	}

	.violet {
		color: var(--electric-violet);
	}
	
	.error {
		color: var(--poppy-red);
	}

	h1 {
		margin: 0.5em 0;
	}

	hr {
		height: 0;
		width: 100%;
		border: 1px solid var(--light-grey);
		margin-top: 1em 0;
	}

	input {
		font-size: 1.5em;
		width: 100%;
		flex-grow: 2;
		border-radius: 0.25em;
	}

	.row {
		display: flex;
		flex-flow: row nowrap;
		align-items: baseline;
		padding: 10px 0;
		justify-content: space-between;
		column-gap: 1em;
	}

	.row {
		p {
			text-align: left;
            margin-top: 0;
		}

		p.explanation {
			text-align: center;
			flex: 1 0 52%;
		}

		>p:first-child {
			flex: 1 0 52%;
		}

		.toggle-box~p {
			margin: 0;
			max-width: fit-content;
		}

		.toggle-box {
			display: flex;
			border: 1px solid var(--almost-black);
			border-radius: 0.25em;
			padding-left: 0;
			width: 100%;
			min-height: 4em;
			max-height: 4em;
			align-items: center;
		}

		.toggle-box {

			input,
			input:focus {
				border: none;
				outline: none;
				box-shadow: none;
			}

			.symbol {
				background: var(--light-grey);
				padding: 1em 1.5em;
				margin: 0.5em;
				margin-left: 0;
				border-radius: 0.25em;
				font-weight: 600;
				color: var(--almost-black);
			}

            .tooltip-container {
                position: relative;
            }

			.tooltip {
				font-size: 1em;
				max-height: fit-content;
				max-width: fit-content;
				padding: 0 0.5em;
			}

            .tooltip-hover-text {
                position: absolute;
                background: var(--white-smoke);
                padding: 1em;
                font-size: 0.9em;
                display: none;
                transform: translate(-50%, 0.5em);
                font-weight: 600;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                width: max-content;
                max-width: 15em;
            }

            .tooltip:hover + .tooltip-hover-text {
                display: block;
                z-index: 99999;
            }

		}
	}

	.summary {
		background: #f0f0f0;
		padding: 1em;
		border: 1px solid var(--light-grey);
	}

	.summary {
		.center {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
		}

		.row, .row p {
			margin: 0.25em 0;
			padding: 0;
		}

        .total p {
            font-weight: 600;
        }

        .price {
            font-size: 1.1em;
        }
	}

	.new-total-amount {
		font-size: 1.2em;
	}

	.new-total-heading {
		font-size: 0.9em;
	}

	footer button {
		flex: 1;
		min-height: 4em;
		max-height: 4em;
		font-size: 1.3em;
		border: 2px solid var(--light-grey);
		border-radius: 0.25em;
        font-weight: 600;
		cursor: pointer;
	}

	.confirm {
		background: var(--mint-green);
		outline: black;
	}


}

.qliro-discount-form-modal {
	max-width: max-content;
}

#qliro-discount-form-heading {
	padding: 0;
}

#qliro-discount-form {
	padding: 0 1rem !important;
}

