.qoc-shipping, .qoc-fee {
	width:15px !important;
	height:15px !important;
}

.krokedil_settings__gateway_page {
	max-width: 1700px;
}

.krokedil_settings__gateway_page .krokedil_settings__wrapper, .krokedil_settings__gateway_page .krokedil_settings__wrapper .krokedil_settings__content {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
}

.qliro-settings-section-wrapper {
	position: relative;
	background: white;
    border: 1px solid #e5e5e5;
	border-bottom: 0;
    width: calc(100% - 40px);
	margin-bottom: 10px;
}

.qliro-settings-section-wrapper .qliro-settings-toggle {
	position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.woocommerce .qliro-settings-section-wrapper table.form-table {
	display: none;
	margin: 0  20px;
	width: calc(100% - 40px);
	max-width: 600px;
}

.woocommerce .qliro-settings-section-wrapper table.form-table.active {
	display: table;
}

.woocommerce .qliro-settings-section-wrapper table.form-table th.titledesc {
	width: calc(100% - 20px);
}

.woocommerce .qliro-settings-section-wrapper table.form-table td.forminp, .woocommerce .qliro-settings-section-wrapper table.form-table td.forminp input:not([type="checkbox"]):not([type="radio"]):not(.colorpick), .woocommerce .qliro-settings-section-wrapper table.form-table td.forminp select {
	width: 100%;
	max-width: none;
}

.woocommerce .qliro-settings-section-wrapper table.form-table td.forminp input.colorpick {
	width: calc(100% - 40px);
}

.qliro-settings-section-wrapper .form-table .titledesc {
	display: block;
}

.qliro-settings-section-wrapper .form-table .forminp {
	padding: 0;
}

.krokedil_settings__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.krokedil_settings__wrapper .krokedil_settings__content {
	flex: 1;
}

.krokedil_settings__wrapper  .krokedil_settings__sidebar {
	order: -1;
	background: none;
	border: none;
	padding: 0;
	display: block;
	min-width: 300px;
}

.qliro-settings-section-wrapper .qliro-settings-header {
	padding: 10px 20px;
	border-bottom: solid 1px #e5e5e5;
	cursor: pointer;
}

html, body {
	height: 100%;
	margin: 0;
  }