.qliro-discount-modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
}
.qliro-discount-modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 450px;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.qliro-discount-modal-content p,
.qliro-discount-modal-content span {
	font-size: 16px;
}

.qliro-discount-modal-content > div:not(:last-child) {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.qliro-discount-modal-separator {
	height: 1px;
	background-color: #eee;
	margin: 15px 0;
}

div#qliro-discount-modal.qliro-discount-modal div.qliro-discount-modal-header h2.qliro-discount-modal-title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
}
.qliro-discount-modal-content form {
	display: flex;
	flex-direction: column;
}

.qliro-discount-modal-content input,
.qliro-discount-modal-content select {
	height: 52px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
}
.qliro-discount-amount-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.qliro-discount-amount-wrapper span {
	margin: 0 10px;
	font-size: 18px;
	font-weight: bold;
}
.qliro-discount-modal-summary .qliro-summary-line {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	font-size: 16px;
}

.qliro-discount-modal-footer {
	display: flex;
	justify-content: space-between;
}

.qliro-discount-input-wrapper {
	position: relative;
	flex: 1;
}

.qliro-discount-input-wrapper label {
	position: absolute;
	pointer-events: none;
	right: 30px;
	top: 26px;
	transform: translateY(-50%);
	color: #999;
	font-size: 16px;
}
.qliro-discount-input-wrapper input:focus + label,
.qliro-discount-input-wrapper input:not(:placeholder-shown) + label {
	color: #333;
}

.qliro-discount-input-wrapper-full-width {
	position: relative;
	width: 100%;
}

.qliro-discount-input-wrapper-full-width label {
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 26px;
	transform: translateY(-50%);
	transition: 0.2s ease all;
	color: #999;
	font-size: 16px;
}
.qliro-discount-input-wrapper-full-width input:focus + label,
.qliro-discount-input-wrapper-full-width input:not(:placeholder-shown) + label {
	top: 0px;
	font-size: 12px;
	color: #333;
	background-color: #fff;
	padding: 0 5px;
}

.qliro-discount-label {
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: bold;
}
.qliro-discount-label + select,
.qliro-discount-label + div {
	margin-top: 5px;
}
.qliro-discount-tip {
	position: absolute;
	top: 16px;
	right: 10px;
}
.qliro-summary-line p {
	margin: 0;
}
