
.qliro-one-test-back-color {
    background-color: #00a699;
}

/* Checkout design */
.qliro-one-selected textarea[name="order_comments"] {
    resize: vertical;
}

/* Storefront light */
.qliro-two-column-left-sf .woocommerce-info {
    background-color: #eeeeee;
    color: #6d6d6d;
}
.qliro-two-column-left-sf .woocommerce-info:before {
    color: #6d6d6d;
}
.qliro-two-column-left-sf .woocommerce-info a,
.qliro-two-column-left-sf .woocommerce-info a:hover {
    color: #6d6d6d;
}

.qliro-two-column-left-sf .woocommerce-checkout-review-order-table th,
.qliro-two-column-left-sf .woocommerce-checkout-review-order-table td {
    padding: 1em 0.41575em;
}

.qliro-two-column-left-sf .woocommerce-checkout-review-order-table thead {
    display: none;
}
.qliro-two-column-left-sf .woocommerce-checkout-review-order-table:not( .has-background ) th,
.qliro-two-column-left-sf .woocommerce-checkout-review-order-table:not( .has-background ) tbody td {
    background-color: #fdfdfd;
}
.qliro-two-column-left-sf .cart-subtotal th,
.qliro-two-column-left-sf .cart-subtotal td {
    border-top: .0625rem solid #e6e6e6;
}
.qliro-two-column-left-sf textarea {
    background-color: transparent;
    border: .0625rem solid #e6e6e6;
}
.qliro-two-column-left-sf .woocommerce-checkout-review-order-table {
    padding-top: 1.5rem;
}

/* Desktop view / multi columns */
@media only screen and (min-width : 769px) {

    .qliro-two-column-right #qliro-one-wrapper {
        display: grid;
        grid-template-columns: 4fr 6fr;
        grid-column-gap: 70px;
    }

    .qliro-two-column-left #qliro-one-wrapper,
    .qliro-two-column-left-sf #qliro-one-wrapper {
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-column-gap: 70px;
    }

    .qliro-two-column-left #qliro-order-review,
    .qliro-two-column-left-sf #qliro-order-review {
        order: 2;
    }

    .qliro-two-column-left #qliro-one-iframe,
    .qliro-two-column-left-sf #qliro-one-iframe {
        order: 1;
    }

    #qliro-one-wrapper #qliro-order-review {
        width: 100%;
    }
}

/* Hide shipping methods in order review if displayed in Qliro iframe */
.qliro-shipping-display ul#shipping_method {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
